option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: Project.wsgi:application

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: Project.settings
    DB_ENGINE: django.db.backends.mysql
    DB_NAME: timesheetdb
    DB_USER: admin8
    DB_PASSWORD: Admin123478
    DB_HOST: 10.0.2.248
    DB_PORT: "3306"