option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: Project.wsgi:application

  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput || true"
    leader_only: true